body {
  background:#d7d1ca;

}

.header{
  text-align: center;
  background-color:rgb(191, 215, 228);
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
.navheader{
  
  background:  #eddde9;
  display: flex;
  justify-content: left;
}

.tab{
  color: white;
  text-align: center;
  padding: 3px 13px;
  text-decoration: none;
  font-size: 22px;
}

.tab >a:hover{
  
  background: rgb(240, 149, 205);
  color: black;
}

.table{
  text-align: center;
  margin: auto;
  width: 50%;
}

.content {
  padding: 0px 20px;
  height: 100%;
}
.note {
  float: right;
  font-size: 14px;
}
#form-section {
  padding: 10px;
  display: flex;
  justify-items: center;
  height: 100%;
}

.form {
  width: 60%;
  height: 67vh;
  padding: 0px 16px 16px 16px;
  margin-right: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
  border-radius: 8px;
}

.responses {
  width: 40%;
  height: 67vh;
  margin-left: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
  float: left;
}

.response {
  background-color: rgb(191, 215, 228);
  padding: 15px;
  margin-top: 10px;
  border: 2px solid rgb(126, 191, 235);
  line-height: 25px;
}

#submit {
  background-color: #eddde9;
  color: rgb(8, 0, 0);
  border: 1px solid eddde9;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  
}

.submitButton{
  display: flex;
  justify-content: center;
}

input[type=text] {
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

select {
  width: 100%;
}

b {
  color: #B00000;
  font-weight: normal;
}

.name {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  margin: 8px 8px 0px 0px;
  line-height: 25px;
}

.message {
  margin: 16px 0px 0px 0px;
}

.date {
  float: left;
  font-size: 14px;
  letter-spacing: 1.5px;
}

input[type="radio"] {
  margin-left: 30px;
  margin-bottom: 10px;
}

.sections{
  text-align:center; 
  vertical-align: middle;
   
}

h2{
   text-align: center;

}

}

.movie {
  width: 330px;
  height: 500px;
	padding: 1em;
	cursor: pointer;
}

.movLightboxContainer {
  width: 750px;
  margin: auto;
  max-width: 850px;
  background-color: #FFF;
  border: 5px solid #FFF;
  display: flex;
  flex-direction: row;
}

.movLightboxImage {
  height: 100%;
  margin: auto;
  float: left;
  outline-offset: -5px;
}

.title {
  color: #2F4F4D;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.director {
  font-size: 16px;
  line-height: 32px;
}

.rating {
  background-color: rgb(231, 208, 75);
  border: 1px soli  rgb(231, 208, 75);
  color: #222;
  padding: 8px 24px 8px 24px;
  font-weight: bold;
}

.movLightboxContent {
  height: 100%;
  background-color: #FFF;
  margin: auto;
  padding: 0px 30px;
  float: right;
  max-width: 850px;
  color: #555;

}
