body {
  background:#d7d1ca;

}

.header{
  text-align: center;
  background-color:rgb(191, 215, 228);
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
.navheader{
  
  background:  #eddde9;
  display: flex;
  justify-content: left;
}




/*tabs in navigation bar*/
.tab{
  color: white;
  text-align: center;
  padding: 3px 13px;
  text-decoration: none;
  font-size: 22px;
}

.tab >a:hover{
  
  background: rgb(240, 149, 205);
  color: black;
}

.table{
  text-align: center;
  margin: auto;
  width: 50%;
}

.content {
  padding: 0px 20px;
  height: 100%;
}
.note {
  float: right;
  font-size: 14px;
}
#form-section {
  padding: 10px;
  display: flex;
  justify-items: center;
  height: 100%;
}

.form {
  width: 60%;
  height: 67vh;
  padding: 0px 16px 16px 16px;
  margin-right: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
  border-radius: 8px;
}

.responses {
  width: 40%;
  height: 67vh;
  margin-left: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
  float: left;
}

.response {
  background-color: rgb(191, 215, 228);
  padding: 15px;
  margin-top: 10px;
  border: 2px solid rgb(126, 191, 235);
  line-height: 25px;
}

#submit {
  background-color: #eddde9;
  color: rgb(8, 0, 0);
  border: 1px solid eddde9;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  
}

.submitButton{
  display: flex;
  justify-content: center;
}

input[type=text] {
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

select {
  width: 100%;
}

b {
  color: #B00000;
  font-weight: normal;
}

.name {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  margin: 8px 8px 0px 0px;
  line-height: 25px;
}

.message {
  margin: 16px 0px 0px 0px;
}

.date {
  float: left;
  font-size: 14px;
  letter-spacing: 1.5px;
}

input[type="radio"] {
  margin-left: 30px;
  margin-bottom: 10px;
}

.sections{
  text-align:center; 
  vertical-align: middle;
   
}

h2{
   text-align: center;
<<<<<<< Updated upstream
}
=======

}


>>>>>>> Stashed changes

.movie {
  width: 330px;
  height: 500px;
	padding: 1em;
	cursor: pointer;
}

.movLightboxContainer {
  width: 850px;
  margin: auto;
  max-width: 950px;
  background-color: #FFF;
  border: 5px solid #FFF;
  display: flex;
  flex-direction: row;
}

.movLightboxImage {
  height: 100%;
  margin: auto;
  float: left;
  outline-offset: -5px;
}

.title {
  color: #2F4F4D;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.director {
  font-size: 16px;
  line-height: 32px;
}

.rating {
  background-color: rgb(231, 208, 75);
  border: 1px soli  rgb(231, 208, 75);
  color: #222;
  padding: 8px 24px 8px 24px;
  font-weight: bold;
}

.movLightboxContent {
  height: 100%;
  background-color: #FFF;
  margin: auto;
  padding: 0px 30px;
  float: right;
  max-width: 850px;
  color: #555;
}

.movie-forms {
	display: flex;
  justify-content: space-between;
  float: center;
  flex-flow: row wrap;
  width:100%;
  background:rgb(191, 215, 228);
  
}

.movie-add-forms {
  display: flex;
  float:right;
  flex-flow: row wrap;
  align-items: center;
  
}

.movie-form > div {
  
  float: center;
	position: relative;
	margin-top: 1.5em;
	padding: 0.5em;
	padding-right: 5em;
	width: 250px;
}



.movie-form > div > label {
  float: left;
    margin-right: 5px;
}

.movie-form > div > div{
    overflow: hidden;
}

.movie-form > div > input {
  flex-direction: row;
  font-size: 16px;
  width: 100%;
    
    display: block
}

.dropdown {
  margin: 2.5em;
  float: left;
  border: 2px solid black;
}

select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
	border: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
    height: 50px;
    background:  transparent;
    -webkit-appearance: none;
    background-position-x: 175px;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select:focus {
	outline: black;
	outline-style: solid;
	outline-width: 1px;
}

.moviePoster {
	width: 330px;
  height: 500px;
	padding: 1em;
  cursor: pointer;

}


.delete-button-add {
	
	left: 150px;
	background-color: rgb(238, 59, 59);
	width: 100px;
	height: 50px;
}

.form-input-text:focus ~ span,
.form-input-text:not(:focus):required:valid ~ span,
.form-input-text:not(:focus):optional:not(:placeholder-shown) ~ span,
textarea:focus ~ span,
textarea:not(:focus):required:valid ~ span,
textarea:not(:focus):optional:not(:placeholder-shown) ~ span {
	top: -15px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

.form-input-text, textarea {
	width: 100%;
	border: none;
	padding-bottom: 10px;
	border-bottom: solid 1px black;
	transition: all 0.3s cubic-bezier(.64,.09,.08,1);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 98%, black 4%);
	background-position: -1000px 0;
	background-repeat: no-repeat;
	font-size: 16px;
}

.form-input-text:focus, textarea:focus {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

.button{
  text-align: center;
  
}

.button:hover{
  background-color: var(--color-3);
  float: center;
  
}

.but{
  font-style: none;
  font-size: 40px;
  text-decoration: none;
  color: rgb(227, 248, 33);
  
  background-color: var(--color-2);
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 50%;
  margin: 8px;
  transition: 0.2s;

}